/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #304659;

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background: #F5F9FC;
  border-bottom: none;
}

nav {
  width: 100%;
  height: 60px;
  padding: 5px 30px;
  border-bottom: none;
}

nav a.icon {
  display: none;
}

.logo {
  text-decoration: none;
  display: block;
  width: 20%;
  float: left;
  color: #304659;
}

nav ul {
  float: left;
  width: 60%;
  margin-top: 20px;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-left: 15%;
  color: #304659;
  font-size: 1.2em;
}

nav ul li a {
  color: #304659;
  text-decoration: none;
}

nav .nav-btn {
  border: 2px solid #304659;
  background: #304659;
  color: #F5F9FC;
  float: right;
  padding: 5px 20px;
  margin-top: 10px;
  list-style: none;
  text-decoration: none;
}

main {
  clear: both;
  background: #F5F9FC;
  padding-left: 6%;
}

main .main-left {
  float: left;
  width: 50%;
  height: 50vh;
  margin-top: 50px;
}

main section span {
  color: lightgray;
  font-weight: 700;
}

main section h1 {
  font-size: 4em;
}

main section form {
  /* border: 2px solid blue; */
  width: 40%;
  float: left;
}

main section form input[type=text] {
  width: 100%;
  padding: 12px 10px;
  outline: none;
  border: none;
  background: lightgray;
}

#form-btn {
  border: 2px solid #304659;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  float: left;
  background: #304659;
  color: #F5F9FC;
  font-weight: 700;
}

main section > p {
  clear: both;
  font-size: 1.3em;
}

.main-right {
  float: right;
  width: 50%;
}

.main-right img {
  width: 100%;
}

.lower-section {
  clear: both;
  height: 40vh;
}

.lower-section .first-card, .second-card, .third-card, .fourth-card {
  float: left;
  width: 25%;
  height: 80%;
}

.lower-section .first-card > i, .second-card > i, .third-card > i, .fourth-card > i {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.lower-section .first-card > h5, .second-card > h5, .third-card > h5, .fourth-card > h5 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.lower-section .first-card > p, .second-card > p, .third-card > p, .fourth-card > p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.lower-section .first-card > a, .second-card > a, .third-card > a, .fourth-card > a {
  font-size: 1.3em;
  margin-bottom: 20px;
  text-decoration: none;
  color: #304659;
  font-weight: 700;
}

.lower-section .first-card > span, .second-card > span, .third-card > span, .fourth-card > span {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #304659;
  font-weight: 700;
  padding-left: 5px;
}

.bottom-section {
  height: 35vh;
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
}

.bottom-section h1 {
  font-size: 4em;
}

.bottom-section p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.bottom-section div {
  border: 2px solid #F5F9FC;
  height: 60px;
  background: #F5F9FC;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
  main .main-left {
    height: 40vh;
  }

  nav ul li {
    margin-left: 10%;
  }

  .lower-section .first-card, .second-card {
    width: 50%;
    height: 40%;
    margin-bottom: 40px;
    
  }
  .lower-section .third-card, .fourth-card {
    width: 50%;
    height: 40%;
    margin-bottom: 40px;
  }
  nav a.icon {
    display: none;
  }
}

@media screen and (max-width: 710px) {

  nav #navLinks {
    display: none;
  }

  nav a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  width: 10%;
  font-size: 3em;
  padding: 5px 20px;
  margin-top: 5px;
  color: #304659;
  }

  .logo {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 90%;
    float: right;
    color: #304659;
  }

  nav {
    border-bottom: 2px solid lightgray;
    
  }

  nav ul li {
    margin-left: 5%;
    border: 2px solid black;
    
  }

  

  main .main-left {
    width: 100%;
    /* margin-left: 5%; */
  }

  .main-right {
    clear: both;
    width: 100%;
    
  }

  main section form {
    /* border: 2px solid blue; */
    width: 80%;
    float: left;
    
  }

  #form-btn {
    margin-top: 20px;
    clear: both;
    width: 80%;
    text-align: center;
    
  }

  
}

