/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #304659;

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* border: 2px solid orange; */
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  border: 2px solid red;
background: #F5F9FC;
border-bottom: none;
}

nav {
  width: 100%;
  /* overflow: auto; */
  border: 2px solid blue;
  height: 60px;
  padding: 5px 10px;
}

.logo {
  text-decoration: none;
  display: block;
  border: 2px solid black;
  width: 20%;
  float: left;
  color: #304659;
}

nav ul {
  border: 2px solid orange;
  float: left;
  width: 60%;
  margin-top: 20px;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-left: 15%;
  color: #304659;
  font-size: 1.2em;
}

nav ul li a {
  color: #304659;
  text-decoration: none;
  border: 2px solid seagreen;
}

nav .nav-btn {
  border: 2px solid salmon;
}

/* header nav .logo {
  text-decoration: none;
  color: #304659;
  float: left;
  padding: 20px;
} 

nav ul {
  margin-left: 100px;
}

nav ul li {
  list-style-type: none;
  display: inline;
} */




footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
